#person {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 180px;
    border-radius: 50%;
    background-color: gold;
}
.boardcells {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 0px;
    background-color: aquamarine;
}
#board {
    display: flex;
    width: 420px;
    height: 300px;
    flex-wrap: wrap;
    margin: 0;
}
.walls {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 0px;
    background-color: black;
}
body {
    margin: 0;
}